@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
:root {
  --first-background: #272727;
  --second-background: #373737;
  --third-background: #3e3e3e;
  --fourth-background: #5e5e5e;
  --text-color: #fff;
  --common-px: 8px;
  --border-color: #444;
  --bright-border-color: #999;
  --accent-color: #3771bd;
  --bright-accent-color: #427cc7;
  --dark-accent-color: #245796;
  --transparent: rgba(0, 0, 0, .7);
}

* {
  color: var(--text-color);
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--first-background);
  margin: 0;
  padding: 0;
}

.coins {
  position: fixed;
  left: var(--common-px);
  top: var(--common-px);
  border: 1px solid var(--border-color);
  border-radius: var(--common-px);
  background-color: var(--transparent);
  padding: var(--common-px);
  display: flex;
  gap: var(--common-px);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  transition: opacity 200ms;
}
.coins:hover {
  opacity: 0.8;
}

.meters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--common-px) / 2);
  position: fixed;
  top: var(--common-px);
  background-color: var(--transparent);
  padding: var(--common-px);
  border: 1px solid var(--border-color);
  border-radius: var(--common-px);
  z-index: 1;
  overflow: hidden;
  transition: height 200ms;
}
.meters .stats {
  display: flex;
  gap: calc(var(--common-px) / 2);
}
.meters .user-meter,
.meters .bot-meter {
  display: flex;
  align-items: center;
  gap: calc(var(--common-px) / 2);
}
.meters span {
  font-weight: bold;
  font-size: calc(var(--common-px) * 2.5);
}
.meters .bar {
  width: 1.5in;
  height: 1.5rem;
  border: 2px solid var(--bright-border-color);
  border-radius: var(--common-px);
  overflow: hidden;
}
.meters .bar .percentage {
  background-color: var(--accent-color);
  height: 100%;
  width: 0;
  transition: width 200ms;
}
.meters .bar:is(.timebar) {
  position: relative;
}
.meters .bar:is(.timebar) .percentage {
  width: 100%;
}
.meters .bar:is(.timebar) .time {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.meters .bought-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--common-px) / 3);
  max-width: 4in;
}

.message-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: var(--common-px);
}

.user,
.bot {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: calc(var(--common-px) / 2);
}
.user:is(.user) .message-container,
.bot:is(.user) .message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: var(--common-px);
  gap: calc(var(--common-px) / 2);
}
.user:is(.user) .message-container .message,
.bot:is(.user) .message-container .message {
  background-color: var(--accent-color);
}
.user:is(.bot) .message-container,
.bot:is(.bot) .message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--common-px);
  gap: calc(var(--common-px) / 2);
}
.user:is(.bot) .message-container .message,
.bot:is(.bot) .message-container .message {
  background-color: var(--second-background);
}

.message {
  border-radius: calc(var(--common-px) * 2.5);
  padding: calc(var(--common-px) * 1.2);
  width: -moz-max-content;
  width: max-content;
  word-wrap: break-word;
  max-width: 75%;
  animation: showMessage 100ms linear forwards;
}

@keyframes showMessage {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.message-zone {
  width: calc(100% - 20px);
  display: flex;
  text-align: center;
  padding: var(--common-px);
  gap: calc(var(--common-px) - 6px);
  height: calc(var(--common-px) * 6);
  background-color: var(--first-background);
}
.message-zone::before {
  content: "";
  position: absolute;
  box-shadow: 0 -25px 15px var(--first-background);
  left: 0;
  top: 0;
  width: calc(100% + var(--common-px));
  height: 100%;
  pointer-events: none;
}
.message-zone input {
  width: 100%;
}
.message-zone button {
  width: 0.5in;
}

input,
button {
  background-color: var(--second-background);
  outline: none;
  padding: var(--common-px);
  border: 1px solid var(--border-color);
  border-radius: var(--common-px);
  font-size: calc(var(--common-px) * 1.9);
}
input:is(button),
button:is(button) {
  background-color: var(--accent-color);
  border-color: var(--bright-accent-color);
  cursor: pointer;
  transition: background 200ms;
}
input:is(button):hover,
button:is(button):hover {
  background-color: var(--bright-accent-color);
}
input:is(button):disabled,
button:is(button):disabled {
  background-color: var(--dark-accent-color);
  cursor: not-allowed;
}
input:is(input),
button:is(input) {
  transition: box-shadow 200ms;
}
input:is(input):focus,
button:is(input):focus {
  box-shadow: 0 0 0 calc(var(--common-px) / 2) var(--accent-color);
}

.thinking-dot {
  background-color: var(--fourth-background);
  border-radius: 50%;
  padding: var(--common-px);
  width: 0;
  height: 0;
  animation: blinking 2s infinite;
}
.thinking-dot:nth-child(2) {
  animation-delay: 500ms;
}
.thinking-dot:last-child {
  animation-delay: 1s;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.keyboard {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  max-width: 500px;
  position: fixed;
  background-color: var(--first-background);
  bottom: 0;
  padding: var(--common-px);
}
.keyboard .key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: var(--second-background);
  border: 1px solid var(--border-color);
  border-radius: calc(var(--common-px) / 2);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: background 200ms;
}
.keyboard .key:hover {
  background-color: var(--third-background);
}

.scene {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: calc(var(--common-px) / 2);
  background-color: var(--transparent);
}
.scene .scene-buttons {
  display: flex;
  flex-direction: column;
  gap: calc(var(--common-px) / 2);
}

.revive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.revive-container .revive-price {
  display: flex;
  align-items: center;
  margin-bottom: var(--common-px);
  gap: calc(var(--common-px) / 2);
}
.revive-container .revive-meter {
  width: 2.5in;
  height: 1rem;
  margin-bottom: var(--common-px);
  border-radius: calc(var(--common-px) / 2);
  border: 1px solid var(--border-color);
  overflow: hidden;
}
.revive-container .revive-meter .bar {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
}

.store {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: var(--second-background);
  border-radius: var(--common-px);
  border: 1px solid var(--border-color);
  box-shadow: 0 0 6px 2px var(--transparent);
  overflow: hidden;
  animation: popup 200ms linear forwards;
  z-index: 2;
}
.store .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding-left: var(--common-px);
  cursor: default;
}
.store .header .title {
  display: flex;
  align-items: center;
  gap: calc(var(--common-px) / 2);
}
.store .header .close {
  padding: var(--common-px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background 200ms;
}
.store .header .close:hover {
  background-color: rgb(139, 31, 31);
}
.store .content {
  display: flex;
  flex-wrap: wrap;
  width: 3.85in;
  max-height: 4in;
  overflow: auto;
  padding: var(--common-px);
  gap: calc(var(--common-px) / 2);
}
.store .content .item {
  border: 1px solid var(--border-color);
  border-radius: var(--common-px);
  padding: calc(var(--common-px) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.5in;
  cursor: pointer;
  transition: 200ms;
  transition-property: background, transform;
}
.store .content .item:hover {
  background-color: var(--third-background);
  transform: translateY(-2px);
}
.store .content::-webkit-scrollbar-thumb {
  background-color: var(--first-background);
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.expand-icon {
  position: relative;
  top: calc(var(--common-px) / 1.3);
  margin-top: -5px;
  transition: transform 200ms;
}

.fake-anchor {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: var(--common-px);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--common-px);
  background-color: var(--second-background);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--third-background);
}

@media screen and (max-width: 600px) {
  .meters {
    width: 3.7in;
  }
  .meters .user-meter .bar,
  .meters .bot-meter .bar {
    width: 1.3in;
  }
  .coins {
    top: 3.2rem;
    left: calc(var(--common-px) * 2.4);
    max-width: 85px;
  }
  .keyboard {
    display: grid;
  }
}/*# sourceMappingURL=style.css.map */